# Ignore target folder (build artifacts)
target/*
!target/reactive-programming-0.0.1-SNAPSHOT.jar

# Ignore local Maven repository
.mvn/

# Ignore IDE files
.idea/
*.iml
*.ipr
*.iws

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore Git files
.git
.gitignore

# Ignore environment files if any
.env
